Flask==3.0.1
flask-babel==4.0.0
Flask-Caching==2.1.0
Flask-Compress==1.14
Flask-Cors==4.0.0
Flask-Migrate==4.0.5
Flask-Script==2.0.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Werkzeug==3.0.1
firebase==4.0.1
firebase-admin==6.4.0
firebase-functions==0.2.0
Frozen-Flask==1.0.1
pandas==2.1.4
matplotlib==3.8.2
matplotlib-inline==0.1.6
dash==2.14.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_renderer==1.9.1
plotly==5.18.0
plotly-express==0.4
google-api-core==2.15.0
google-api-python-client==2.115.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud==0.34.0
google-cloud-core==2.4.1
google-cloud-firestore==2.14.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-events==0.11.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
django-redis==5.4.0
redis==5.0.1
