{% for i in range(totalPoliciais) %}
  <div class="container">
    <h2>Detalhes da Guarnição</h2>
    <form action="/salvar_detalhes_guarnicao" method="post"><form action="/alguma_rota" method="post">

      <div class="form-group">
        <label for="nomeGuerra">NOME DE GUERRA DO COMANDANTE DA GUARNIÇÃO:</label>
        <input type="text" class="form-control" id="nomeGuerra" name="nomeGuerra" required>
      </div>
      <div class="form-group">
        <label for="matricula">MATRÍCULA:</label>
        <input type="text" class="form-control" id="matricula" name="matricula" required>
      </div>
      <div class="form-group">
          <div class="form-group">
        <label for="postoGraduacao_${modalidade}_${i}">POSTO/GRADUAÇÃO:</label>
        <select id="unidadeOperacional" name="unidadeOperacional" class="form-control" required>
            <option>Selecione</option>
            <option value="SOLDADO">SOLDADO</option>
            <option value="CABO">CABO</option>
            <option value="3º SGT">3º SGT</option>
            <option value="2º SGT">2º SGT</option>
            <option value="1º SGT">1º SGT</option>
            <option value="SUBTENENTE">SUBTENENTE</option>
            <option value="ASPITANTE">ASPITANTE</option>
            <option value="2º TENENTE">2º TENENTE</option>
            <option value="1º TENENTE">1º TENENTE</option>
            <option value="CAPITÃO">CAPITÃO</option>
            <option value="MAJOR">MAJOR</option>
            <option value="TEN.CEL">TEN.CEL</option>
            <option value="CORONEL">CORONEL</option>
        </select>
        </select>
      </div>
      <div class="form-group">
        <label for="contatoComandante">CONTATO DO COMANDANTE:</label>
        <input type="number" class="form-control" id="contatoComandante" name="contatoComandante" required>
      </div>
      <div class="form-group">
        <label for="numeroHT">NÚMERO DO HT:</label>
        <input type="text" class="form-control" id="numeroHT" name="numeroHT" required>
      </div>
      <div class="form-group">
        <label for="policiaisComposicao">QUANTOS POLICIAIS NESTA COMPOSIÇÃO:</label>
        <input type="number" class="form-control" id="policiaisComposicao" name="policiaisComposicao" required>
      </div>
      <div class="form-group">
        <label for="bairroAtuacao">BAIRRO DE ATUAÇÃO:</label>
        <select class="form-control" id="bairroAtuacao" name="bairroAtuacao" required>
          <option>Selecione</option>
            <option value="ALDEOTA - FORTALEZA,CE">ALDEOTA - FORTALEZA,CE</option>
            <option value="CAIS DO PORTO - FORTALEZA,CE">CAIS DO PORTO - FORTALEZA,CE</option>
            <option value="MEIRELES - FORTALEZA,CE">MEIRELES - FORTALEZA,CE</option>
            <option value="MUCURIPE - FORTALEZA,CE">MUCURIPE - FORTALEZA,CE</option>
            <option value="PRAIA DE IRACEMA - FORTALEZA,CE">PRAIA DE IRACEMA - FORTALEZA,CE</option>
            <option value="VARJOTA  - FORTALEZA,CE">VARJOTA - FORTALEZA,CE</option>
            <option value="VICENTE PINZÓN - FORTALEZA,CE">VICENTE PINZÓN - FORTALEZA,CE</option>
            <option value="BOM JARDIM - FORTALEZA,CE">BOM JARDIM - FORTALEZA,CE</option>
            <option value="CONJUNTO CEARÁ I - FORTALEZA,CE">CONJUNTO CEARÁ I - FORTALEZA,CE</option>
            <option value="CONJUNTO CEARÁ II - FORTALEZA,CE">CONJUNTO CEARÁ II - FORTALEZA,CE</option>
            <option value="GENIBAÚ - FORTALEZA,CE">GENIBAÚ - FORTALEZA,CE</option>
            <option value="GRANJA LISBOA - FORTALEZA,CE">GRANJA LISBOA - FORTALEZA,CE</option>
            <option value="GRANJA PORTUGAL - FORTALEZA,CE">GRANJA PORTUGAL - FORTALEZA,CE</option>
            <option value="SIQUEIRA - FORTALEZA,CE">SIQUEIRA - FORTALEZA,CE</option>
            <option value="ANCURI - FORTALEZA,CE">ANCURI - FORTALEZA,CE</option>
            <option value="BARROSO - FORTALEZA,CE">BARROSO - FORTALEZA,CE</option>
            <option value="COAÇU - FORTALEZA,CE">COAÇU - FORTALEZA,CE</option>
            <option value="CONJUNTO PALMEIRAS - FORTALEZA,CE">CONJUNTO PALMEIRAS - FORTALEZA,CE</option>
            <option value="CURIÓ - FORTALEZA,CE">CURIÓ - FORTALEZA,CE</option>
            <option value="GUAJERU - FORTALEZA,CE">GUAJERU - FORTALEZA,CE</option>
            <option value="JANGURUSSU - FORTALEZA,CE">JANGURUSSU - FORTALEZA,CE</option>
            <option value="LAGOA REDONDA - FORTALEZA,CE">LAGOA REDONDA - FORTALEZA,CE</option>
            <option value="MESSEJANA - FORTALEZA,CE">MESSEJANA - FORTALEZA,CE</option>
            <option value="PARQUE SANTA MARIA - FORTALEZA,CE">PARQUE SANTA MARIA - FORTALEZA,CE</option>
            <option value="PAUPINA - FORTALEZA,CE">PAUPINA - FORTALEZA,CE</option>
            <option value="PEDRAS - FORTALEZA,CE">PEDRAS - FORTALEZA,CE</option>
            <option value="SÃO BENTO - FORTALEZA,CE">SÃO BENTO - FORTALEZA,CE</option>
            <option value="CARLITO PAMPLONA - FORTALEZA,CE">CARLITO PAMPLONA - FORTALEZA,CE</option>
            <option value="CENTRO - FORTALEZA,CE">CENTRO - FORTALEZA,CE</option>
            <option value="ELLERY - FORTALEZA,CE">ELLERY - FORTALEZA,CE</option>
            <option value="FARIAS BRITO  - FORTALEZA,CE">FARIAS BRITO - FORTALEZA,CE</option>
            <option value="JACARECANGA - FORTALEZA,CE">JACARECANGA - FORTALEZA,CE</option>
            <option value="MONTE CASTELO - FORTALEZA,CE">MONTE CASTELO - FORTALEZA,CE</option>
            <option value="MOURA BRASIL - FORTALEZA,CE">MOURA BRASIL - FORTALEZA,CE</option>
            <option value="SÃO GERARDO - FORTALEZA,CE">SÃO GERARDO - FORTALEZA,CE</option>
            <option value="ÁLVARO WEYNE - FORTALEZA,CE">ÁLVARO WEYNE - FORTALEZA,CE</option>
            <option value="AEROPORTO - FORTALEZA,CE">AEROPORTO - FORTALEZA,CE</option>
            <option value="BENFICA - FORTALEZA,CE">BENFICA - FORTALEZA,CE</option>
            <option value="BOM FUTURO - FORTALEZA,CE">BOM FUTURO - FORTALEZA,CE</option>
            <option value="COUTO FERNANDES - FORTALEZA,CE">COUTO FERNANDES - FORTALEZA,CE</option>
            <option value="DAMAS - FORTALEZA,CE">DAMAS - FORTALEZA,CE</option>
            <option value="DEMÓCRITO ROCHA - FORTALEZA,CE">DEMÓCRITO ROCHA - FORTALEZA,CE</option>
            <option value="DENDÊ - FORTALEZA,CE">DENDÊ - FORTALEZA,CE</option>
            <option value="FÁTIMA - FORTALEZA,CE">FÁTIMA - FORTALEZA,CE</option>
            <option value="ITAOCA - FORTALEZA,CE">ITAOCA - FORTALEZA,CE</option>
            <option value="ITAPERI - FORTALEZA,CE">ITAPERI - FORTALEZA,CE</option>
            <option value="JARDIM AMÉRICA - FORTALEZA,CE">JARDIM AMÉRICA - FORTALEZA,CE</option>
            <option value="JOSÉ BONIFÁCIO - FORTALEZA,CE">JOSÉ BONIFÁCIO - FORTALEZA,CE</option>
            <option value="MONTESE - FORTALEZA,CE">MONTESE - FORTALEZA,CE</option>
            <option value="PANAMERICANO - FORTALEZA,CE">PANAMERICANO - FORTALEZA,CE</option>
            <option value="PARANGABA - FORTALEZA,CE">PARANGABA - FORTALEZA,CE</option>
            <option value="PARREÃO - FORTALEZA,CE">PARREÃO - FORTALEZA,CE</option>
            <option value="SERRINHA - FORTALEZA,CE">SERRINHA - FORTALEZA,CE</option>
            <option value="VILA PERI - FORTALEZA,CE">VILA PERI - FORTALEZA,CE</option>
            <option value="VILA UNIÃO - FORTALEZA,CE">VILA UNIÃO - FORTALEZA,CE</option>
            <option value="AMADEU FURTADO - FORTALEZA,CE">AMADEU FURTADO - FORTALEZA,CE</option>
            <option value="ANTÔNIO BEZERRA - FORTALEZA,CE">ANTÔNIO BEZERRA - FORTALEZA,CE</option>
            <option value="AUTRAN NUNES - FORTALEZA,CE">AUTRAN NUNES - FORTALEZA,CE</option>
            <option value="BELA VISTA - FORTALEZA,CE">BELA VISTA - FORTALEZA,CE</option>
            <option value="BONSUCESSO - FORTALEZA,CE">BONSUCESSO - FORTALEZA,CE</option>
            <option value="DOM LUSTOSA - FORTALEZA,CE">DOM LUSTOSA - FORTALEZA,CE</option>
            <option value="HENRIQUE JORGE - FORTALEZA,CE">HENRIQUE JORGE - FORTALEZA,CE</option>
            <option value="JOÃO XXIII - FORTALEZA,CE">JOÃO XXIII - FORTALEZA,CE</option>
            <option value="JÓQUEI CLUBE - FORTALEZA,CE">JÓQUEI CLUBE - FORTALEZA,CE</option>
            <option value="OLAVO OLIVEIRA - FORTALEZA,CE">OLAVO OLIVEIRA - FORTALEZA,CE</option>
            <option value="PADRE ANDRADE - FORTALEZA,CE">PADRE ANDRADE - FORTALEZA,CE</option>
            <option value="PARQUE ARAXÁ - FORTALEZA,CE">PARQUE ARAXÁ - FORTALEZA,CE</option>
            <option value="PARQUELÂNDIA - FORTALEZA,CE">PARQUELÂNDIA - FORTALEZA,CE</option>
            <option value="PICI - FORTALEZA,CE">PICI - FORTALEZA,CE</option>
            <option value="PRESIDENTE KENNEDY - FORTALEZA,CE">PRESIDENTE KENNEDY - FORTALEZA,CE</option>
            <option value="QUINTINO CUNHA - FORTALEZA,CE">QUINTINO CUNHA - FORTALEZA,CE</option>
            <option value="RODOLFO TEÓFILO - FORTALEZA,CE">RODOLFO TEÓFILO - FORTALEZA,CE</option>
            <option value="AEROLÂNDIA - FORTALEZA,CE">AEROLÂNDIA - FORTALEZA,CE</option>
            <option value="ALTO DA BALANÇA - FORTALEZA,CE">ALTO DA BALANÇA - FORTALEZA,CE</option>
            <option value="BOA VISTA/CASTELÃO - FORTALEZA,CE">BOA VISTA/CASTELÃO - FORTALEZA,CE</option>
            <option value="CAJAZEIRAS - FORTALEZA,CE">CAJAZEIRAS - FORTALEZA,CE</option>
            <option value="CAMBEBA - FORTALEZA,CE">CAMBEBA - FORTALEZA,CE</option>
            <option value="CIDADE DOS FUNCIONÁRIOS - FORTALEZA,CE">CIDADE DOS FUNCIONÁRIOS - FORTALEZA,CE</option>
            <option value="DIAS MACÊDO - FORTALEZA,CE">DIAS MACÊDO - FORTALEZA,CE</option>
            <option value="EDSON QUEIROZ - FORTALEZA,CE">EDSON QUEIROZ - FORTALEZA,CE</option>
            <option value="JARDIM DAS OLIVEIRAS - FORTALEZA,CE">JARDIM DAS OLIVEIRAS - FORTALEZA,CE</option>
            <option value="JOSÉ DE ALENCAR - FORTALEZA,CE">JOSÉ DE ALENCAR - FORTALEZA,CE</option>
            <option value="PARQUE DOIS IRMÃOS - FORTALEZA,CE">PARQUE DOIS IRMÃOS - FORTALEZA,CE</option>
            <option value="PARQUE IRACEMA - FORTALEZA,CE">PARQUE IRACEMA - FORTALEZA,CE</option>
            <option value="PARQUE MANIBURA - FORTALEZA,CE">PARQUE MANIBURA - FORTALEZA,CE</option>
            <option value="PASSARÉ - FORTALEZA,CE">PASSARÉ - FORTALEZA,CE</option>
            <option value="SABIAGUABA - FORTALEZA,CE">SABIAGUABA - FORTALEZA,CE</option>
            <option value="SAPIRANGA/COITÉ - FORTALEZA,CE">SAPIRANGA/COITÉ - FORTALEZA,CE</option>
            <option value="BARRA DO CEARÁ - FORTALEZA,CE">BARRA DO CEARÁ - FORTALEZA,CE</option>
            <option value="CRISTO REDENTOR - FORTALEZA,CE">CRISTO REDENTOR - FORTALEZA,CE</option>
            <option value="FLORESTA - FORTALEZA,CE">FLORESTA - FORTALEZA,CE</option>
            <option value="JARDIM GUANABARA - FORTALEZA,CE">JARDIM GUANABARA - FORTALEZA,CE</option>
            <option value="JARDIM IRACEMA - FORTALEZA,CE">JARDIM IRACEMA - FORTALEZA,CE</option>
            <option value="PIRAMBU - FORTALEZA,CE">PIRAMBU - FORTALEZA,CE</option>
            <option value="VILA VELHA - FORTALEZA,CE">VILA VELHA - FORTALEZA,CE</option>
            <option value="ARACAPÉ - FORTALEZA,CE">ARACAPÉ - FORTALEZA,CE</option>
            <option value="CANINDEZINHO - FORTALEZA,CE">CANINDEZINHO - FORTALEZA,CE</option>
            <option value="CONJUNTO ESPERANÇA - FORTALEZA,CE">CONJUNTO ESPERANÇA - FORTALEZA,CE</option>
            <option value="JARDIM CEARENSE - FORTALEZA,CE">JARDIM CEARENSE - FORTALEZA,CE</option>
            <option value="MANOEL SÁTIRO - FORTALEZA,CE">MANOEL SÁTIRO - FORTALEZA,CE</option>
            <option value="MARAPONGA - FORTALEZA,CE">MARAPONGA - FORTALEZA,CE</option>
            <option value="MONDUBIM - FORTALEZA,CE">MONDUBIM - FORTALEZA,CE</option>
            <option value="NOVO MONDUBIM - FORTALEZA,CE">NOVO MONDUBIM - FORTALEZA,CE</option>
            <option value="PARQUE PRESIDENTE VARGAS - FORTALEZA,CE">PARQUE PRESIDENTE VARGAS - FORTALEZA,CE</option>
            <option value="PARQUE SANTA ROSA - FORTALEZA,CE">PARQUE SANTA ROSA - FORTALEZA,CE</option>
            <option value="PARQUE SÃO JOSÉ - FORTALEZA,CE">PARQUE SÃO JOSÉ - FORTALEZA,CE</option>
            <option value="PLANALTO AYRTON SENNA - FORTALEZA,CE">PLANALTO AYRTON SENNA - FORTALEZA,CE</option>
            <option value="PREFEITO JOSÉ WALTER - FORTALEZA,CE">PREFEITO JOSÉ WALTER - FORTALEZA,CE</option>
            <option value="CIDADE, 2000 - FORTALEZA,CE">CIDADE, 2000 - FORTALEZA,CE</option>
            <option value="COCÓ - FORTALEZA,CE">COCÓ - FORTALEZA,CE</option>
            <option value="DE LOURDES - FORTALEZA,CE">DE LOURDES - FORTALEZA,CE</option>
            <option value="DIONÍSIO TORRES - FORTALEZA,CE">DIONÍSIO TORRES - FORTALEZA,CE</option>
            <option value="ENGENHEIRO LUCIANO CAVALCANTE - FORTALEZA,CE">ENGENHEIRO LUCIANO CAVALCANTE - FORTALEZA,CE
            </option>
            <option value="GUARARAPES - FORTALEZA,CE">GUARARAPES - FORTALEZA,CE</option>
            <option value="JOAQUIM TÁVORA - FORTALEZA,CE">JOAQUIM TÁVORA - FORTALEZA,CE</option>
            <option value="MANUEL DIAS BRANCO - FORTALEZA,CE">MANUEL DIAS BRANCO - FORTALEZA,CE</option>
            <option value="PRAIA DO FUTURO I - FORTALEZA,CE">PRAIA DO FUTURO I - FORTALEZA,CE</option>
            <option value="PRAIA DO FUTURO II - FORTALEZA,CE">PRAIA DO FUTURO II - FORTALEZA,CE</option>
            <option value="SALINAS - FORTALEZA,CE">SALINAS - FORTALEZA,CE</option>
            <option value="TAUAPE - FORTALEZA,CE">TAUAPE - FORTALEZA,CE</option>
            <option value="PAPICU - FORTALEZA,CE">PAPICU - FORTALEZA,CE</option>
            <option value="ALTO DO GARROTE - CAUCAIA,CE">ALTO DO GARROTE - CAUCAIA,CE</option>
            <option value="ARATURI - CAUCAIA,CE">ARATURI - CAUCAIA,CE</option>
            <option value="ARIANÓPOLES - CAUCAIA,CE">ARIANÓPOLES - CAUCAIA,CE</option>
            <option value="AÇUDE - CAUCAIA,CE">AÇUDE - CAUCAIA,CE</option>
            <option value="BARRA NOVA - CAUCAIA,CE">BARRA NOVA - CAUCAIA,CE</option>
            <option value="BOM JESUS - CAUCAIA,CE">BOM JESUS - CAUCAIA,CE</option>
            <option value="CABATAN - CAUCAIA,CE">CABATAN - CAUCAIA,CE</option>
            <option value="CAMPO GRANDE - CAUCAIA,CE">CAMPO GRANDE - CAUCAIA,CE</option>
            <option value="CAMURUPIM - CAUCAIA,CE">CAMURUPIM - CAUCAIA,CE</option>
            <option value="CAPUAN - CAUCAIA,CE">CAPUAN - CAUCAIA,CE</option>
            <option value="CARAÚBAS - CAUCAIA,CE">CARAÚBAS - CAUCAIA,CE</option>
            <option value="CENTRO - CAUCAIA,CE">CENTRO - CAUCAIA,CE</option>
            <option value="MESTRE ANTÔNIO - CAUCAIA,CE">MESTRE ANTÔNIO - CAUCAIA,CE</option>
            <option value="NOVA METRÓPOLE - CAUCAIA,CE">NOVA METRÓPOLE - CAUCAIA,CE</option>
            <option value="CIPÓ - CAUCAIA,CE">CIPÓ - CAUCAIA,CE</option>
            <option value="PICUÍ (CONJUNTO METROPOLITANO) - CAUCAIA,CE">PICUÍ (CONJUNTO METROPOLITANO) - CAUCAIA,CE</option>
            <option value="GUAJIRU - CAUCAIA,CE">GUAJIRU - CAUCAIA,CE</option>
            <option value="NOVA CIGANA - CAUCAIA,CE">NOVA CIGANA - CAUCAIA,CE</option>
            <option value="CURICACA - CAUCAIA,CE">CURICACA - CAUCAIA,CE</option>
            <option value="GARROTE - CAUCAIA,CE">GARROTE - CAUCAIA,CE</option>
            <option value="LAGOA DOS PORCOS - CAUCAIA,CE">LAGOA DOS PORCOS - CAUCAIA,CE</option>
            <option value="GENIPABU - CAUCAIA,CE">GENIPABU - CAUCAIA,CE</option>
            <option value="GRILO - CAUCAIA,CE">GRILO - CAUCAIA,CE</option>
            <option value="ITAPUAN - CAUCAIA,CE">ITAPUAN - CAUCAIA,CE</option>
            <option value="MARECHAL RONDON - CAUCAIA,CE">MARECHAL RONDON - CAUCAIA,CE</option>
            <option value="JANDAIGUABA - CAUCAIA,CE">JANDAIGUABA - CAUCAIA,CE</option>
            <option value="JARDIM ICARAÍ - CAUCAIA,CE">JARDIM ICARAÍ - CAUCAIA,CE</option>
            <option value="LAGO VERDE - CAUCAIA,CE">LAGO VERDE - CAUCAIA,CE</option>
            <option value="LAGOA DO BANANA - CAUCAIA,CE">LAGOA DO BANANA - CAUCAIA,CE</option>
            <option value="NOVO PABUSSU - CAUCAIA,CE">NOVO PABUSSU - CAUCAIA,CE</option>
            <option value="PABUSSU - CAUCAIA,CE">PABUSSU - CAUCAIA,CE</option>
            <option value="PADRE JÚLIO MARIA - CAUCAIA,CE">PADRE JÚLIO MARIA - CAUCAIA,CE</option>
            <option value="PADRE ROMUALDO - CAUCAIA,CE">PADRE ROMUALDO - CAUCAIA,CE</option>
            <option value="PARQUE ALBANO - CAUCAIA,CE">PARQUE ALBANO - CAUCAIA,CE</option>
            <option value="PARQUE DAS NAÇÍES - CAUCAIA,CE">PARQUE DAS NAÇÍES - CAUCAIA,CE</option>
            <option value="PAUMIRIM - CAUCAIA,CE">PAUMIRIM - CAUCAIA,CE</option>
            <option value="PARQUE SOLEDADE - CAUCAIA,CE">PARQUE SOLEDADE - CAUCAIA,CE</option>
            <option value="PLANALTO CAUCAIA - CAUCAIA,CE">PLANALTO CAUCAIA - CAUCAIA,CE</option>
            <option value="TABAPUÁ BRASÍLIA II - CAUCAIA,CE">TABAPUÁ BRASÍLIA II - CAUCAIA,CE</option>
            <option value="TABAPUÁ BRASÍLIA - CAUCAIA,CE">TABAPUÁ BRASÍLIA - CAUCAIA,CE</option>
            <option value="TABAPUÁ - CAUCAIA,CE">TABAPUÁ - CAUCAIA,CE</option>
            <option value="TOCO - CAUCAIA,CE">TOCO - CAUCAIA,CE</option>
            <option value="PARQUE POTIRA - CAUCAIA,CE">PARQUE POTIRA - CAUCAIA,CE</option>
            <option value="CUMBUCO - CAUCAIA,CE">CUMBUCO - CAUCAIA,CE</option>
            <option value="TABUBA - CAUCAIA,CE">TABUBA - CAUCAIA,CE</option>
            <option value="PACHECO - CAUCAIA,CE">PACHECO - CAUCAIA,CE</option>
            <option value="ICARAÍ - CAUCAIA,CE">ICARAÍ - CAUCAIA,CE</option>
            <option value="IPARANA - CAUCAIA,CE">IPARANA - CAUCAIA,CE</option>
            <option value="PARQUE LEBLON - CAUCAIA,CE">PARQUE LEBLON - CAUCAIA,CE</option>
            <option value="SÃO MIGUEL - CAUCAIA,CE">SÃO MIGUEL - CAUCAIA,CE</option>
            <option value="DISTRITO DE MIRAMBÉ - CAUCAIA,CE">DISTRITO DE MIRAMBÉ - CAUCAIA,CE</option>
            <option value="DISTRITO DE SÍTIOS NOVOS - CAUCAIA,CE">DISTRITO DE SÍTIOS NOVOS - CAUCAIA,CE</option>
            <option value="AIS, 11 - CAUCAIA,CE">AIS, 11 - CAUCAIA,CE</option>
            <option value="DISTRITO DE TUCUNDUBA - CAUCAIA,CE">DISTRITO DE TUCUNDUBA - CAUCAIA,CE</option>
            <option value="DISTRITO DE BOM PRÍNCIPIO - CAUCAIA,CE">DISTRITO DE BOM PRÍNCIPIO - CAUCAIA,CE</option>
            <option value="DISTRITO DE CATUANA - CAUCAIA,CE">DISTRITO DE CATUANA - CAUCAIA,CE</option>
            <option value="DISTRITO DE GUARARU - CAUCAIA,CE">DISTRITO DE GUARARU - CAUCAIA,CE</option>
            <option value="AIS, 11 - CAUCAIA,CE">AIS, 11 - CAUCAIA,CE</option>
            <option value="CIGANA - CAUCAIA,CE">CIGANA - CAUCAIA,CE</option>
            <option value="ITAMBÉ - CAUCAIA,CE">ITAMBÉ - CAUCAIA,CE</option>
            <option value="PARQUE SÃO GERARDO - CAUCAIA,CE">PARQUE SÃO GERARDO - CAUCAIA,CE</option>
            <option value="PATRÍCIA GOMES - CAUCAIA,CE">PATRÍCIA GOMES - CAUCAIA,CE</option>
            <option value="PARQUE GUADALAJARA - CAUCAIA,CE">PARQUE GUADALAJARA - CAUCAIA,CE</option>
            <option value="URUCUTUBA - CAUCAIA,CE">URUCUTUBA - CAUCAIA,CE</option>
            <option value="DISTRITO INDUSTRIAL I - MARACANAÚ,CE">DISTRITO INDUSTRIAL I - MARACANAÚ,CE</option>
            <option value="DIF III - MARACANAÚ,CE">DIF III - MARACANAÚ,CE</option>
            <option value="PARQUE SANTA MARIA - MARACANAÚ,CE">PARQUE SANTA MARIA - MARACANAÚ,CE</option>
            <option value="ALTO ALEGRE I - MARACANAÚ,CE">ALTO ALEGRE I - MARACANAÚ,CE</option>
            <option value="JARI - MARACANAÚ,CE">JARI - MARACANAÚ,CE</option>
            <option value="JAÇANAÚ - MARACANAÚ,CE">JAÇANAÚ - MARACANAÚ,CE</option>
            <option value="INDUSTRIAL - MARACANAÚ,CE">INDUSTRIAL - MARACANAÚ,CE</option>
            <option value="CIDADE NOVA - MARACANAÚ,CE">CIDADE NOVA - MARACANAÚ,CE</option>
            <option value="BOA ESPERANÇA - MARACANAÚ,CE">BOA ESPERANÇA - MARACANAÚ,CE</option>
            <option value="PAJUÇARA - MARACANAÚ,CE">PAJUÇARA - MARACANAÚ,CE</option>
            <option value="JARDIM BANDEIRANTE - MARACANAÚ,CE">JARDIM BANDEIRANTE - MARACANAÚ,CE</option>
            <option value="JEREISSATI I - MARACANAÚ,CE">JEREISSATI I - MARACANAÚ,CE</option>
            <option value="CENTRO - MARACANAÚ,CE">CENTRO - MARACANAÚ,CE</option>
            <option value="BOA VISTA - MARACANAÚ,CE">BOA VISTA - MARACANAÚ,CE</option>
            <option value="JEREISSATI II  - MARACANAÚ,CE">JEREISSATI II - MARACANAÚ,CE</option>
            <option value="ALTO DA MANGUEIRA - MARACANAÚ,CE">ALTO DA MANGUEIRA - MARACANAÚ,CE</option>
            <option value="OLHO D'ÁGUA - MARACANAÚ,CE">OLHO D'ÁGUA - MARACANAÚ,CE</option>
            <option value="HORTO FLORESTAL - MARACANAÚ,CE">HORTO FLORESTAL - MARACANAÚ,CE</option>
            <option value="SANTO ANTÔNIO DO PITAGUARY - MARACANAÚ,CE">SANTO ANTÔNIO DO PITAGUARY - MARACANAÚ,CE</option>
            <option value="MUCUNÃ - MARACANAÚ,CE">MUCUNÃ - MARACANAÚ,CE</option>
            <option value="LUZARDO VIANA - MARACANAÚ,CE">LUZARDO VIANA - MARACANAÚ,CE</option>
            <option value="CÁGADO - MARACANAÚ,CE">CÁGADO - MARACANAÚ,CE</option>
            <option value="PARQUE TIJUCA - MARACANAÚ,CE">PARQUE TIJUCA - MARACANAÚ,CE</option>
            <option value="COQUEIRAL - MARACANAÚ,CE">COQUEIRAL - MARACANAÚ,CE</option>
            <option value="NOVO MARACANAÚ - MARACANAÚ,CE">NOVO MARACANAÚ - MARACANAÚ,CE</option>
            <option value="SANTOS SÁTIRO - MARACANAÚ,CE">SANTOS SÁTIRO - MARACANAÚ,CE</option>
            <option value="ACARACUZINHO - MARACANAÚ,CE">ACARACUZINHO - MARACANAÚ,CE</option>
            <option value="NOVO ORIENTE - MARACANAÚ,CE">NOVO ORIENTE - MARACANAÚ,CE</option>
            <option value="ALTO ALEGRE II - MARACANAÚ,CE">ALTO ALEGRE II - MARACANAÚ,CE</option>
            <option value="JENIPAPEIRO - MARACANAÚ,CE">JENIPAPEIRO - MARACANAÚ,CE</option>
            <option value="TIMBÓ - MARACANAÚ,CE">TIMBÓ - MARACANAÚ,CE</option>
            <option value="PIRATININGA - MARACANAÚ,CE">PIRATININGA - MARACANAÚ,CE</option>
            <option value="PAU SERRADO - MARACANAÚ,CE">PAU SERRADO - MARACANAÚ,CE</option>
            <option value="COLÔNIA ANTÔNIO JUSTA - MARACANAÚ,CE">COLÔNIA ANTÔNIO JUSTA - MARACANAÚ,CE</option>
            <option value="PAJUÇARA PARK - MARACANAÚ,CE">PAJUÇARA PARK - MARACANAÚ,CE</option>
            <option value="MENINO JESUS DE PRAGA - MARACANAÚ,CE">MENINO JESUS DE PRAGA - MARACANAÚ,CE</option>
            <option value="PARQUE TROPICAL - MARACANAÚ,CE">PARQUE TROPICAL - MARACANAÚ,CE</option>
            <option value="SIQUEIRA - MARACANAÚ,CE">SIQUEIRA - MARACANAÚ,CE</option>
            <option value="FURNA DA ONÇA - MARACANAÚ,CE">FURNA DA ONÇA - MARACANAÚ,CE</option>
            <option value="AQUIRAZ - AQUIRAZ,CE">AQUIRAZ - AQUIRAZ,CE</option>
            <option value="CASCAVEL - CASCAVEL,CE">CASCAVEL - CASCAVEL,CE</option>
            <option value="PINDORETAMA - PINDORETAMA,CE">PINDORETAMA - PINDORETAMA,CE</option>
            <option value="EUSÉBIO - EUSÉBIO,CE">EUSÉBIO - EUSÉBIO,CE</option>
            <option value="SANTANA DO ACARAÚ - CEARÁ">SANTANA DO ACARAÚ - CEARÁ</option>
            <option value="SOBRAL - CEARÁ">SOBRAL - CEARÁ</option>
            <option value="FORQUILHA - CEARÁ">FORQUILHA - CEARÁ</option>
            <option value="CARIRÉ - CEARÁ">CARIRÉ - CEARÁ</option>
            <option value="GROAÍRAS - CEARÁ">GROAÍRAS - CEARÁ</option>
            <option value="SÃO BENEDITO - CEARÁ">SÃO BENEDITO - CEARÁ</option>
            <option value="IBIAPINA - CEARÁ">IBIAPINA - CEARÁ</option>
            <option value="GRAÇA - CEARÁ">GRAÇA - CEARÁ</option>
            <option value="CARNAUBAL - CEARÁ">CARNAUBAL - CEARÁ</option>
            <option value="GUARACIABA DO NORTE - CEARÁ">GUARACIABA DO NORTE - CEARÁ</option>
            <option value="SENADOR SÁ - CEARÁ">SENADOR SÁ - CEARÁ</option>
            <option value="MASSAPÊ - CEARÁ">MASSAPÊ - CEARÁ</option>
            <option value="URUOCA - CEARÁ">URUOCA - CEARÁ</option>
            <option value="GRANJA - CEARÁ">GRANJA - CEARÁ</option>
            <option value="MARTINÓPOLE - CEARÁ">MARTINÓPOLE - CEARÁ</option>
            <option value="MORAÚJO - CEARÁ">MORAÚJO - CEARÁ</option>
            <option value="PACUJÁ - CEARÁ">PACUJÁ - CEARÁ</option>
            <option value="ALCÂNTARAS - CEARÁ">ALCÂNTARAS - CEARÁ</option>
            <option value="COREAÚ - CEARÁ">COREAÚ - CEARÁ</option>
            <option value="MERUOCA - CEARÁ">MERUOCA - CEARÁ</option>
            <option value="MUCAMBO - CEARÁ">MUCAMBO - CEARÁ</option>
            <option value="TIANGUÁ - CEARÁ">TIANGUÁ - CEARÁ</option>
            <option value="CAMOCIM - CEARÁ">CAMOCIM - CEARÁ</option>
            <option value="BARROQUINHA - CEARÁ">BARROQUINHA - CEARÁ</option>
            <option value="UBAJARA - CEARÁ">UBAJARA - CEARÁ</option>
            <option value="CROATÁ - CEARÁ">CROATÁ - CEARÁ</option>
            <option value="CHAVAL - CEARÁ">CHAVAL - CEARÁ</option>
            <option value="FRECHEIRINHA - CEARÁ">FRECHEIRINHA - CEARÁ</option>
            <option value="VIÇOSA DO CEARÁ - CEARÁ">VIÇOSA DO CEARÁ - CEARÁ</option>
            <option value="BATURITÉ - CEARÁ">BATURITÉ - CEARÁ</option>
            <option value="GUARAMIRANGA - CEARÁ">GUARAMIRANGA - CEARÁ</option>
            <option value="ITAPIÚNA - CEARÁ">ITAPIÚNA - CEARÁ</option>
            <option value="REDENÇÃO - CEARÁ">REDENÇÃO - CEARÁ</option>
            <option value="ARACOIABA - CEARÁ">ARACOIABA - CEARÁ</option>
            <option value="PACOTI - CEARÁ">PACOTI - CEARÁ</option>
            <option value="CAPISTRANO - CEARÁ">CAPISTRANO - CEARÁ</option>
            <option value="CARIDADE - CEARÁ">CARIDADE - CEARÁ</option>
            <option value="MULUNGU - CEARÁ">MULUNGU - CEARÁ</option>
            <option value="CANINDÉ - CEARÁ">CANINDÉ - CEARÁ</option>
            <option value="PARAMOTI - CEARÁ">PARAMOTI - CEARÁ</option>
            <option value="ACARAPE - CEARÁ">ACARAPE - CEARÁ</option>
            <option value="BARREIRA - CEARÁ">BARREIRA - CEARÁ</option>
            <option value="MADALENA - CEARÁ">MADALENA - CEARÁ</option>
            <option value="ITATIRA - CEARÁ">ITATIRA - CEARÁ</option>
            <option value="BOA VIAGEM - CEARÁ">BOA VIAGEM - CEARÁ</option>
            <option value="OCARA - CEARÁ">OCARA - CEARÁ</option>
            <option value="ARATUBA - CEARÁ">ARATUBA - CEARÁ</option>
            <option value="PALMÁCIA - CEARÁ">PALMÁCIA - CEARÁ</option>
            <option value="SANTA QUITÉRIA - CEARÁ">SANTA QUITÉRIA - CEARÁ</option>
            <option value="MONSENHOR TABOSA - CEARÁ">MONSENHOR TABOSA - CEARÁ</option>
            <option value="CATUNDA - CEARÁ">CATUNDA - CEARÁ</option>
            <option value="HIDROLÂNDIA - CEARÁ">HIDROLÂNDIA - CEARÁ</option>
            <option value="NOVA RUSSAS - CEARÁ">NOVA RUSSAS - CEARÁ</option>
            <option value="PIRES FERREIRA - CEARÁ">PIRES FERREIRA - CEARÁ</option>
            <option value="VARJOTA - CEARÁ">VARJOTA - CEARÁ</option>
            <option value="TAMBORIL - CEARÁ">TAMBORIL - CEARÁ</option>
            <option value="RERIUTABA - CEARÁ">RERIUTABA - CEARÁ</option>
            <option value="INDEPENDÊNCIA - CEARÁ">INDEPENDÊNCIA - CEARÁ</option>
            <option value="NOVO ORIENTE - CEARÁ">NOVO ORIENTE - CEARÁ</option>
            <option value="CRATEÚS - CEARÁ">CRATEÚS - CEARÁ</option>
            <option value="IPUEIRAS - CEARÁ">IPUEIRAS - CEARÁ</option>
            <option value="IPU - CEARÁ">IPU - CEARÁ</option>
            <option value="PORANGA - CEARÁ">PORANGA - CEARÁ</option>
            <option value="ARARENDÁ - CEARÁ">ARARENDÁ - CEARÁ</option>
            <option value="IPAPORANGA - CEARÁ">IPAPORANGA - CEARÁ</option>
            <option value="IRAUÇUBA - CEARÁ">IRAUÇUBA - CEARÁ</option>
            <option value="TEJUÇUOCA - CEARÁ">TEJUÇUOCA - CEARÁ</option>
            <option value="ITAPIPOCA - CEARÁ">ITAPIPOCA - CEARÁ</option>
            <option value="MIRAÍMA - CEARÁ">MIRAÍMA - CEARÁ</option>
            <option value="ITAPAJÉ - CEARÁ">ITAPAJÉ - CEARÁ</option>
            <option value="PENTECOSTE - CEARÁ">PENTECOSTE - CEARÁ</option>
            <option value="UMIRIM - CEARÁ">UMIRIM - CEARÁ</option>
            <option value="APUIARÉS - CEARÁ">APUIARÉS - CEARÁ</option>
            <option value="GENERAL SAMPAIO - CEARÁ">GENERAL SAMPAIO - CEARÁ</option>
            <option value="ACARAÚ - CEARÁ">ACARAÚ - CEARÁ</option>
            <option value="AMONTADA - CEARÁ">AMONTADA - CEARÁ</option>
            <option value="MORRINHOS - CEARÁ">MORRINHOS - CEARÁ</option>
            <option value="BELA CRUZ - CEARÁ">BELA CRUZ - CEARÁ</option>
            <option value="MARCO - CEARÁ">MARCO - CEARÁ</option>
            <option value="TURURU - CEARÁ">TURURU - CEARÁ</option>
            <option value="URUBURETAMA - CEARÁ">URUBURETAMA - CEARÁ</option>
            <option value="CRUZ - CEARÁ">CRUZ - CEARÁ</option>
            <option value="JIJOCA DE JERICOACOARA - CEARÁ">JIJOCA DE JERICOACOARA - CEARÁ</option>
            <option value="ITAREMA - CEARÁ">ITAREMA - CEARÁ</option>
            <option value="JAGUARIBARA - CEARÁ">JAGUARIBARA - CEARÁ</option>
            <option value="JAGUARIBE - CEARÁ">JAGUARIBE - CEARÁ</option>
            <option value="PEREIRO - CEARÁ">PEREIRO - CEARÁ</option>
            <option value="FORTIM - CEARÁ">FORTIM - CEARÁ</option>
            <option value="BEBERIBE - CEARÁ">BEBERIBE - CEARÁ</option>
            <option value="ARACATI - CEARÁ">ARACATI - CEARÁ</option>
            <option value="PALHANO - CEARÁ">PALHANO - CEARÁ</option>
            <option value="RUSSAS - CEARÁ">RUSSAS - CEARÁ</option>
            <option value="JAGUARUANA - CEARÁ">JAGUARUANA - CEARÁ</option>
            <option value="QUIXERÉ - CEARÁ">QUIXERÉ - CEARÁ</option>
            <option value="ITAIÇABA - CEARÁ">ITAIÇABA - CEARÁ</option>
            <option value="LIMOEIRO DO NORTE - CEARÁ">LIMOEIRO DO NORTE - CEARÁ</option>
            <option value="TABULEIRO DO NORTE - CEARÁ">TABULEIRO DO NORTE - CEARÁ</option>
            <option value="ALTO SANTO - CEARÁ">ALTO SANTO - CEARÁ</option>
            <option value="SÃO JOÃO DO JAGUARIBE - CEARÁ">SÃO JOÃO DO JAGUARIBE - CEARÁ</option>
            <option value="IRACEMA - CEARÁ">IRACEMA - CEARÁ</option>
            <option value="POTIRETAMA - CEARÁ">POTIRETAMA - CEARÁ</option>
            <option value="ERERÊ - CEARÁ">ERERÊ - CEARÁ</option>
            <option value="ICAPUÍ - CEARÁ">ICAPUÍ - CEARÁ</option>
            <option value="ANTONINA DO NORTE - CEARÁ">ANTONINA DO NORTE - CEARÁ</option>
            <option value="ABAIARA - CEARÁ">ABAIARA - CEARÁ</option>
            <option value="MILAGRES - CEARÁ">MILAGRES - CEARÁ</option>
            <option value="BREJO SANTO - CEARÁ">BREJO SANTO - CEARÁ</option>
            <option value="MISSÃO VELHA - CEARÁ">MISSÃO VELHA - CEARÁ</option>
            <option value="PORTEIRAS - CEARÁ">PORTEIRAS - CEARÁ</option>
            <option value="BARRO - CEARÁ">BARRO - CEARÁ</option>
            <option value="AURORA - CEARÁ">AURORA - CEARÁ</option>
            <option value="MAURITI - CEARÁ">MAURITI - CEARÁ</option>
            <option value="JATI - CEARÁ">JATI - CEARÁ</option>
            <option value="JARDIM - CEARÁ">JARDIM - CEARÁ</option>
            <option value="JUAZEIRO DO NORTE - CEARÁ">JUAZEIRO DO NORTE - CEARÁ</option>
            <option value="CRATO - CEARÁ">CRATO - CEARÁ</option>
            <option value="CARIRIAÇU - CEARÁ">CARIRIAÇU - CEARÁ</option>
            <option value="BARBALHA - CEARÁ">BARBALHA - CEARÁ</option>
            <option value="NOVA OLINDA - CEARÁ">NOVA OLINDA - CEARÁ</option>
            <option value="SANTANA DO CARIRI - CEARÁ">SANTANA DO CARIRI - CEARÁ</option>
            <option value="ASSARÉ - CEARÁ">ASSARÉ - CEARÁ</option>
            <option value="ALTANEIRA - CEARÁ">ALTANEIRA - CEARÁ</option>
            <option value="FARIAS BRITO - CEARÁ">FARIAS BRITO - CEARÁ</option>
            <option value="POTENGI - CEARÁ">POTENGI - CEARÁ</option>
            <option value="ARARIPE - CEARÁ">ARARIPE - CEARÁ</option>
            <option value="CAMPOS SALES - CEARÁ">CAMPOS SALES - CEARÁ</option>
            <option value="SALITRE - CEARÁ">SALITRE - CEARÁ</option>
            <option value="PENAFORTE - CEARÁ">PENAFORTE - CEARÁ</option>
            <option value="IBARETAMA - CEARÁ">IBARETAMA - CEARÁ</option>
            <option value="MILHÃ - CEARÁ">MILHÃ - CEARÁ</option>
            <option value="BANABUIÚ - CEARÁ">BANABUIÚ - CEARÁ</option>
            <option value="SENADOR POMPEU - CEARÁ">SENADOR POMPEU - CEARÁ</option>
            <option value="SOLONÓPOLE - CEARÁ">SOLONÓPOLE - CEARÁ</option>
            <option value="QUIXERAMOBIM - CEARÁ">QUIXERAMOBIM - CEARÁ</option>
            <option value="DEPUTADO IRAPUAN PINHEIRO - CEARÁ">DEPUTADO IRAPUAN PINHEIRO - CEARÁ</option>
            <option value="QUIXADÁ - CEARÁ">QUIXADÁ - CEARÁ</option>
            <option value="JAGUARETAMA - CEARÁ">JAGUARETAMA - CEARÁ</option>
            <option value="MORADA NOVA - CEARÁ">MORADA NOVA - CEARÁ</option>
            <option value="IBICUITINGA - CEARÁ">IBICUITINGA - CEARÁ</option>
            <option value="CHORÓ - CEARÁ">CHORÓ - CEARÁ</option>
            <option value="PEDRA BRANCA - CEARÁ">PEDRA BRANCA - CEARÁ</option>
            <option value="SABOEIRO - CEARÁ">SABOEIRO - CEARÁ</option>
            <option value="CARIÚS - CEARÁ">CARIÚS - CEARÁ</option>
            <option value="JUCÁS - CEARÁ">JUCÁS - CEARÁ</option>
            <option value="ACOPIARA - CEARÁ">ACOPIARA - CEARÁ</option>
            <option value="TARRAFAS - CEARÁ">TARRAFAS - CEARÁ</option>
            <option value="QUIXELÔ - CEARÁ">QUIXELÔ - CEARÁ</option>
            <option value="ICÓ - CEARÁ">ICÓ - CEARÁ</option>
            <option value="ORÓS - CEARÁ">ORÓS - CEARÁ</option>
            <option value="IGUATU - CEARÁ">IGUATU - CEARÁ</option>
            <option value="CEDRO - CEARÁ">CEDRO - CEARÁ</option>
            <option value="LAVRAS DA MANGABEIRA - CEARÁ">LAVRAS DA MANGABEIRA - CEARÁ</option>
            <option value="UMARI - CEARÁ">UMARI - CEARÁ</option>
            <option value="VÁRZEA ALEGRE - CEARÁ">VÁRZEA ALEGRE - CEARÁ</option>
            <option value="IPAUMIRIM - CEARÁ">IPAUMIRIM - CEARÁ</option>
            <option value="BAIXIO - CEARÁ">BAIXIO - CEARÁ</option>
            <option value="GRANJEIRO - CEARÁ">GRANJEIRO - CEARÁ</option>
            <option value="AIUABA - CEARÁ">AIUABA - CEARÁ</option>
            <option value="ARNEIROZ - CEARÁ">ARNEIROZ - CEARÁ</option>
            <option value="TAUÁ - CEARÁ">TAUÁ - CEARÁ</option>
            <option value="CATARINA - CEARÁ">CATARINA - CEARÁ</option>
            <option value="MOMBAÇA - CEARÁ">MOMBAÇA - CEARÁ</option>
            <option value="PIQUET CARNEIRO - CEARÁ">PIQUET CARNEIRO - CEARÁ</option>
            <option value="PARAMBU - CEARÁ">PARAMBU - CEARÁ</option>
            <option value="QUITERIANÓPOLIS - CEARÁ">QUITERIANÓPOLIS - CEARÁ</option>
            <option value="SÃO GONÇALO DO AMARANTE,CEARÁ">SÃO GONÇALO DO AMARANTE,CEARÁ</option>
            <option value="SÃO LUÍS DO CURU,CEARÁ">SÃO LUÍS DO CURU,CEARÁ</option>
        </select>
      </div>
      <div class="form-group">
        <label for="horaInicial">HORA INICIAL:</label>
        <input type="time" class="form-control" id="horaInicial" name="horaInicial" required>
      </div>
      <div class="form-group">
        <label for="horaFinal">HORA FINAL:</label>
        <input type="time" class="form-control" id="horaFinal" name="horaFinal" required>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Enviar Detalhes</button>
      </div>
{% endfor %}